.contact{
    width: 100%;
    height: 92vh;
    background: url("https://img.freepik.com/free-photo/arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.jpg?w=1060&t=st=1703012946~exp=1703013546~hmac=e59a3df12fea4c5966cdb1c14a4cbe1ddffd4c426ae91a5dcb79e1ea3ee142a8");
   display: flex;
   justify-content: center;
   object-fit: cover;
   background-size: cover;
   align-items: center;
    display: flex;
    justify-content: center;
}

.contact h2{
    color: rgb(255, 255, 255);
    margin: 2rem;
}